:root{
    --main-font-size: 1vh;
    --button-font-size: 4vh;
}


html,
body {
    margin: 0;
    padding: 0px;
    background-color: whitesmoke;
}

#top-buttons{
    margin-left: 1.8vw;
}

#top-buttons button {
    background-color: #e3c632;
}

#main{
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
    margin: 0.5vh;
    font-size: 3em;
    font-family: "Helvetica";
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.7);
    
}

#right-section{
    width: 17vw;
    /* padding: 20px; */
}

#right-section button{
    width: 100%;
}



td{
    font-family: Verdana;
    font-size: var(--main-font-size);
    width: fit-content;
    /* padding: 5px; */
}

button {
    min-width: 10vw;
    text-align: center;
    background-color: #055C9D;
    border: none;
    height: 4vh;
    border-radius: 5px;
    color: white;
    font-size: 4 * var(--button-font-size);
    cursor: pointer;
    margin: 0.1vw;
}


td{
    font-size: 1.5 * var(--main-font-size);
}


input[type='radio'], input[type='checkbox']{
    width: 20px;
    height: 20px;
}


#searchBox {
    width: 20vw;
    height: 3.5vh;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 1.5 * var(--main-font-size);
    font-family: Verdana;
}