html,
body {
    margin: 0;
    padding: 0px;
    background-color: whitesmoke;
}

.main-header {
    margin: 0 0 20px 0;
}

#top-buttons{
    padding-left: 50px;
}

#top-buttons button {
    background-color: #e3c632;
}

#main{
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: "Helvetica";
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.7);
    
}

#card-container {
    display: grid;
    width: inherit;
    
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
}

#right-section{
    width: 310px;
    padding: 20px;
}

#right-section button{
    width: 100%;
}

.card {
    padding: 20px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 5px;
}

td{
    font-family: Verdana;
    font-size: 22px;
    width: fit-content;
    padding: 5px;
}



.card-content {
    font-family: "Verdana";
    color: black;
}

.card-content h2{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: 0;
    font-size: 20px;
}

#edit-popup table{
    width: 110%;
}

#edit-popup input{
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: large;
}

#edit-popup button{
    width: 100%;
}

.card-content p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.card img {
    width: 100%;
    border-radius: 5px;
    height: auto;
}


.card button {
    width: 100%;
    background-color: #055C9D;
}

button {
    min-width: 210px;
    text-align: center;
    background-color: #055C9D;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}


.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.close{
    position: absolute; 
    top: 10px; 
    right: 10px; 
    cursor: pointer;
}

.popup-content {
    font-family: Verdana;
    background-color: #fff;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-image{
    height: 100%; 
    width: 100%;
}

 
  .sorting-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
.dropdown-menu{
    display: none; 
    background-color: #fff;
    border-radius: 5px;
    padding: 10px; 
}

.dropdown-menu label{
    display: block;
    height: 40px;
    font-family: Verdana;
    font-size: large;
}

.dropdown-menu label:hover{
    background-color: #f0f0f0;
}

.dropdown-menu label input[type="checkbox"] {
    margin-right: 5px;
}

.dropdown-menu.active{
    display:block;
}

#price-dropdown label{
    display: block;
    margin-bottom: 5px;
}

.dropdown-menu input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 90%;
}

#filter-dropdown .dropdown-menu{
    border: none;
    box-shadow: none;
    padding: 0px;
}

input[type='radio'], input[type='checkbox']{
    width: 20px;
    height: 20px;
}
